pkg/
Gemfile.lock
.bundle/
.rspec_system/
.*.sw*
/spec/fixtures/.librarian
/spec/fixtures/.tmp
/spec/fixtures/Puppetfile.lock
/spec/fixtures/modules
/spec/fixtures/manifests
/spec/fixtures/vendor

files/karaf/dist/*
.kitchen/
.kitchen.local.yml

Puppetfile.lock
.librarian
.tmp
modules